body {
    font-family: Helvetica,tahoma, sans-serif;
    font-size: 14px;
    
    -webkit-font-smoothing: antialiased;
    background-color: #F0F0F0;
}

.header-bar {
    margin-bottom: 0;
}

.container-full {
    width: 100%;
}

.login-bar {
    height: 40px;

    margin: 0 auto;

    line-height: 40px;
    font-size: 20px;
    
    background-color: #FFFFFF;
    
    border-style: solid;
    border-color: #D0D0D0;
    border-width: 0 0 1px 0;    
}

.login-bar .login-group {
    font-size: 14px;
}

.login-bar .login-user {
    font-weight: bold;
}

.login-bar .logout-link {
    margin-left: 15px;
}

/* Main Menu Panel */
.menu-bar {
    margin: 0;
    padding: 0;
    
    font-size: 13px;
}

.menu-bar .top-menu {
    height: 40px;
    
    background: rgb(226,226,226);
    
    border-style: solid;
    border-width: 1px 0 0 0;
    border-top-color: rgb(162,162,162); 
}

.menu-bar .top-menu ul, .menu-bar .sub-menu ul {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.menu-bar .top-menu ul li {
    padding: 10px;
    height: 38px;
    
    float: left;
	
    line-height: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: white rgb(162,162,162) rgb(162,162,162) white;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.menu-bar .top-menu ul li.selected {
    /*Add height 1 px to override the panel border*/
    height: 39px;
    border-bottom-color: white;
    
    background: white;
}

.menu-bar .top-menu ul li img, .menu-bar .sub-menu ul li img {
    padding-right: 5px;
    vertical-align:middle;
}

.menu-bar .top-menu ul li a, .sub-menu ul li a {
    text-decoration:none;
    outline: none;
    
    color: black;
}

.menu-bar .sub-menu {
    height: 34px;
    padding: 0 20px 0 20px;
    
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(162,162,162);
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 25%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 25%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 25%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 25%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 25%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.menu-bar .sub-menu ul li {
    margin-top: 4px;
    
    /* Alignment for text */
    padding: 4px 10px 0 10px;
    
    height: 30px;
   
    float: left;
}

.menu-bar .sub-menu ul li.selected { 
    padding: 3px 10px 0 10px;
    
    background: white;
    
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: rgb(162,162,162);
}

/* Content Panel */
.content-body {
    width: 100%;
    min-height: 500px;
    
    padding-left: 1px;
    padding-right: 1px;
    
    position: absolute;
    top: 115px;
    bottom: 2px;
    
    /*border: 1px solid red;*/
    
    background: #FFFFFF
}

/*Highlight Calendar*/
.has-schedule a {
    background-color: greenyellow !important;
    background-image: none !important;
}