.panel-title {
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    text-transform: uppercase;
    
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.login-panel {
    background: #FFFFFF;
    margin: 50px 0 0 0;
    padding-bottom: 20px;
}

.logo-image {
    margin-top: 0px;
    margin-bottom: 20px;
}

.login-data {
    margin: 0px auto;
    width: 50%;
}

.input-group {
    margin-bottom: 15px;
}
